main{
    height: 50vh;
    flex-direction: row;
    margin: 10px;
    gap: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactForm >*{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.contactForm form *{
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    width: 90%;
}
button {
    width: 40% !important;
    text-align: center;
    min-width: 75px;
    padding: 10px 15px;
    margin-top: 5%;

}

button:hover {
    background-color: rgb(241, 7, 7);
    transform: scale(1.2);

}

.imageForm{
    width: auto;
    display: flex;
}