.card{
    background-color: green;
    color: white;
    border-radius: 6px;
    width: 23%;
    text-align: center;
    padding: 1em 0.5em;
}
.body-card div{
    padding: 5px

}

.text-card{
    font-size: 20px;
}
main{
    padding: 5%;
}
.image-card{
    width: 50%;
    object-fit: contain;
}

.shop{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.w-70{
    width: 70%;
}


.cart{
    width: 25%;
    display: inline-flex;
    flex-wrap: wrap;
}
.brief{
    width: 100%;
    padding: 5px 0;
}

.shop-title{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.shop-body {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.shop-subtotal{
    padding-top:5px;
    margin: auto;
}
